.menu {
  width: 30vw;
  height: 100vh;
  background-color: rgba(46, 32, 59, 0.479);
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1000;
}

.menu.hide {
  transform: translate3d(30vw, 0, 0);
}

.menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.btn {
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .menu {
    width: 100%;
  }

  .menu.hide {
    transform: translate3d(100vw, 0, 0);
  }
}
