.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.afterSaved {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.editBtn {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: transparent;
  color: white;
  padding: 3px 8px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.3s;
}

.editBtn:hover {
  background-color: white;
  color: #6c5d74;
  font-weight: 800;
}

.dateText,
.titleText {
  width: 80%;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

.storyText {
  width: 85%;
  height: 170px;
  color: white;
  font-size: 18px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.storyText::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.storyText::-webkit-scrollbar-track {
  background: transparent;
}
.storyText::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.saveBtn {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10;
  background-color: transparent;
  color: white;
  padding: 3px 8px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.3s;
}

.saveBtn:hover {
  background-color: white;
  color: #6c5d74;
  font-weight: 800;
}

.date,
.title {
  margin-bottom: 20px;
}

.date,
.title,
.story {
  width: 100%;

  color: white;
  font-size: 18px;
}

.story {
  height: 30%;
}

.storyLable {
  position: relative;
}

.dateInput,
.titleInput {
  outline: none;
  color: white;
  font-size: 20px;
  width: 60%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  padding: 0 20px;
  margin-right: 10px;
  text-align: center;
}

.dateInput::placeholder,
.titleInput::placeholder {
  color: white;
  opacity: 0.8;
  text-align: center;
}

.storyInput {
  width: 85%;
  height: 170px;
  color: white;
  font-size: 18px;
  margin-left: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}

.storyInput::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.storyInput::-webkit-scrollbar-track {
  background: transparent;
}
.storyInput::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
