.container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 20px 0;
  color: white;
  font-size: 40px;
}

.sub {
  color: white;
  font-size: 25px;
  margin: 20px 0;
}
